<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="jp.araobp.iot.launcher"
    android:versionCode="1"
    android:versionName="0.01">

    <uses-sdk
        android:minSdkVersion="13"
        android:targetSdkVersion="17" />

    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".CliActivity"
            android:configChanges="orientation"
            android:label="@string/app_name_cli"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity
            android:name="jp.araobp.iot.edge_computing.plugin.cycling.CyclingActivity"
            android:configChanges="orientation"
            android:label="@string/app_name_cycling"
            android:launchMode="singleTask">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jp.araobp.iot.launcher.CliActivity" />
        </activity>
        <activity
            android:name="jp.araobp.iot.edge_computing.plugin.cycling.TemplateActivity"
            android:configChanges="orientation"
            android:label="@string/app_name_template"
            android:launchMode="singleTask">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="jp.araobp.iot.launcher.CliActivity" />
        </activity>

        <service
            android:name="jp.araobp.iot.sensor_network.service.SensorNetworkSimulator"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name="jp.araobp.iot.sensor_network.service.FtdiDriver"
            android:enabled="true"
            android:exported="true" />

        <activity android:name="jp.araobp.iot.edge_computing.plugin.template.TemplateActivity"></activity>
    </application>

</manifest>